@model SystemUsersModel
@{
    ViewData["Title"] = "deleteSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>deleteSuccess</h1>

<h1>@Model.Username has been Deleted</h1>
<h2><a asp-action="Lists"> Back To Lists</a></h2>