@model SystemUsersModel
@{
    ViewData["Title"] = "editSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>editSuccess</h1>

<h3>@Model.Username has been edited Successfully</h3>
<a asp-action="Lists">Back To List</a>

