
@{
    ViewData["Title"] = "FailedLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FailedLogin</h1>
<h2>@ViewBag.Name is not a valid user</h2>

<h4>@ViewBag.MessageName  is an @ViewData["Invalid"] .Check Password</h4>
