@model CodebitsAcademyEFC.Models.Department
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


    <label class="custom-control-label" asp-for="Name"></label>

    <select class="form-control-lg" asp-for="ID" asp-items="@(new SelectList(@ViewBag.AllDepts,"ID","Name"))"></select>



