@model CodebitsAcademyEFC.Models.Employee
@{
    ViewData["Title"] = "DeleteMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteMessage</h1>


<h2>@Model.FirstName has been deleted succesfully</h2>
