@model CodebitsAcademyEFC.Models.Employee

@{
    ViewData["Title"] = "SuccessMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SuccessMessage</h1>

<h3> @Model.FirstName has been added Succesfully. Thankyou</h3>
