@model CodebitsAcademyEFC.Models.Employee;
@{
    ViewData["Title"] = "UpdatedSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UpdatedSuccess</h1>
<h2>@Model.FirstName has been updated successfully</h2>
